<%- include('partials/header'); -%>

<header>
    <div class="smoothie">
        <img src="https://youth.europa.eu/d8/sites/default/files/eu-logo/logo-eu-ro.svg"/>
    </div>
    <div class="headings">
        <h2>Smoothie Recipes</h2>
        <a href="/smoothies">View recipes</a>

    </div>
</header>

<%- include('partials/footer'); -%>