@import '../../App.scss';
.gen-ctn{
    background-color: $font-green-color;
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}
.loading{
    background-color: $font-green-color;
    color: $font-light-green-color;
    border-radius:50%;
    padding: 0.2rem;
}
.city-a{
    text-decoration: none;
}
.city-h2{
    color:$font-base-color;
    
}
